.logo{
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}
.navbar-brand{
    padding: 10px;
}
.main{
    background-color: #f3f3f3;
    margin: 0 auto;
    overflow: hidden;
}
.vacan{
    height: 60px;
}
body{
    background-color: #f3f3f3;
}
.page-title{
    text-align: center;
}
#navi{
    background:rgba(255,255,255,0.72);
    border: none;
}
@media screen and (max-width: 1000px) and (min-width:500px){
    .navbar-nav li a{
        padding-left: 0;
        padding-right: 0;
    }
    #navi{
        background:rgba(255,255,255);
        border: none;
    }
}
@media screen and (max-width: 500px){
    #navi{
        background:rgba(255,255,255);
        border: none;
    }
}