ul{
    list-style: none;
    padding-left: 0;
}
ul li{
    overflow: hidden;
    padding: 0 10px;
}
.avatar-group{
    width: 100%;
}
.avatar-group .avatar{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.card{
    border-radius: 5px;
    background-color: #fff;
}
.news-group{
    padding: 10px;
    margin-bottom: 10px;
}
.news-title a{
    color: #259;
    font-weight: 900;
}
.news-info{
    text-align: right;
}
.news-info .news-author{
    margin-right: 20px;
}