/* 模糊效果 */

#parent {
    background: url("../images/bg6.jpg") fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 0px;
    position: relative;
    cursor: none;
}

#blur {
    background: inherit;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
}

#clear {
    width: 1000px;
    height: 1000px;
    border-radius: 500px;
    /* 12 */
    background: inherit;
    filter: brightness(1.1);
    /* 34 */
    position: absolute;
    z-index: 1;
}

/* 其他元素 */


/* 登录输入框 */
body{
    overflow:hidden;
}

div.log-container {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 38px 47px 55px 47px;
    margin-top: 5%;
    margin-bottom:800px;
    z-index: 2;
    cursor: default;
}

.title {
    margin: 0px;
    margin-bottom: 31px;
    text-align: center;
}

#email_input {
    box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#email_input:hover {
    box-shadow: 0px 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

/* 密码输入栏 */

input.form-control {
    padding: 17px 12px 17px 12px;
    margin-top: 20px;
    margin-bottom: 5px;
    height: 52px;
    font-size: 16px;
    border: #bdbdbd solid 0.3px;
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);

}

input.form-control:hover{
    box-shadow: 0px 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#with-button {
    /* box-shadow: -1px 2px 2px -1px rgba(0, 0, 0, 0.16), -0.5px 0 0 0.5px rgba(0, 0, 0, 0.08); */
    box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    margin: 0px;
    border-right: 0px;
}

#with-button:hover {
    /* box-shadow: -4px 3px 8px -4px rgba(0, 0, 0, 0.2), -0.5px 0 0 0.5px rgba(0, 0, 0, 0.08); */
    box-shadow: 0px 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

 ::-webkit-input-placeholder {
    font-size: 16px;
}


/* 密码输入栏上的按钮 */

span.input-group-addon {
    padding: 0px;
    background-color: #FFFFFF;
    margin-top: 20px;
    height: 52px;
    vertical-align: center;
    border: #bdbdbd solid 0.3px;
    /* box-shadow: 1px 2px 2px -1px rgba(0, 0, 0, 0.16), 0.5px 0 0 0.5px rgba(0, 0, 0, 0.08); */
    box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

span.input-group-addon:hover {
    /* box-shadow: 4px 3px 8px -4px rgba(0, 0, 0, 0.2), 0.5px 0 0 0.5px rgba(0, 0, 0, 0.08); */
    box-shadow: 0px 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#addon-btn {
    background-color: #FFFFFF;
    height: 98%;
    /* border-right: #bdbdbd solid 0.5px; */
    padding: 0px 12px;
}

#addon-btn:focus {
    outline: none;
}

#addon-btn:active {
    outline: none;
}

#addon-pic {
    vertical-align: middle;
    display: inline;
    padding: 0px;
}


/* 两个按钮 */

button.btn-link {
    float: right;
    padding: 0px;
    border: 0px;
    margin: 1%;
    color: #757575;
}

button.btn-block {
    margin-top: 61px;
    height: 47px;
    padding-top: 12px;
    padding-bottom: 13px;
    line-height: 1;
    font-size: 20px;
    border: #bdbdbd solid 0.3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

button#login_btn:hover {
    background-color: #f36c60;
    color: #FFFFFF;
    outline: none;
}

button#login_btn:active {
    border: 0px;
    background-color: #e51c23;
    color: #FFFFFF;
    outline: none;
}

button#login_btn:focus {
    outline: none;
}

button#signin_btn:hover {
    background-color: #f36c60;
    color: #FFFFFF;
    outline: none;
}

button#signin_btn:active {
    border: 0px;
    background-color: #e51c23;
    color: #FFFFFF;
    outline: none;
}

button#signin_btn:focus {
    outline: none;
}