/* 模糊效果 */

#parent {
    background: url("../images/bg-login.jpg") fixed;
    height: 100%;
    width: 100%;
    position: relative;
}

#blur {
    background: inherit;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -200;
}

#clear {
    width: 1800px;
    height: 1800px;
    border-radius: 900px;
    /* 12 */
    background: inherit;
    -webkit-filter: blur(1px);
    filter: brightness(2.0);
    /* 34 */
    position: absolute;
    top: 20px;
    left: 300px;
    z-index: -100;
}

#body {
    background-color: #E0e0e0;
}
body{
    /*background-color: #b4daf0;*/
    /*background-image: url(../images/body_repeat.png);*/
    /*background-repeat:repeat-x;*/
    /*background-position: center 0;*/
    /*background-color: #f7f7f7;*/
}
div.log-container {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 38px 47px 55px 47px;
    margin-top: 5%;
    z-index: 10;
}

.title {
    margin: 0px;
    margin-bottom: 31px;
    text-align: center;
}

input.form-control {
    padding: 17px 12px 17px 12px;
    margin-top: 20px;
    margin-bottom: 5px;
    height: 52px;
    font-size: 16px;
}

button.btn-link {
    float: right;
    padding: 0px;
    border: 0px;
    color: #757575;
}

button.btn-block {
    margin-top: 61px;
    height: 47px;
    padding-top: 12px;
    padding-bottom: 13px;
    line-height: 1;
    font-size: 20px;
}

 ::-webkit-input-placeholder {
    font-size: 16px;
}

.input-group-addon {
    padding: 0px;
    background-color: #FFFFFF;
}

#with-button {
    margin: 0px;
    border-right: 0px;
}

#addon-btn {
    background-color: #FFFFFF;
    padding: 0px 12px;
}

span.input-group-addon {
    margin-top: 20px;
    vertical-align: center;
}

#addon-pic {
    vertical-align: middle;
    display: inline;
}