.headline {
    width: 100%;
    position: relative;
    padding: 0;
    margin-bottom: 20px;
}
.bg{
    width: 100%;
}
.edit{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 30%;
    color: #ffffff;
}
#release-p{
    margin: 20px auto;
    font-size: 6em;
}
#release-btn{
    text-decoration:none;
    padding: 1% 2%;
    border-radius: 5px;
    background-color:#e71c23;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
#release-btn:hover{
    background-color: #ffffff;
    color: #e71c23;
}
.news-card {
    width: 440px;
    border: 1px solid #bdbdbd;
    background-color: #ffffff;
    padding: 0px 0px 20px 0px;
    margin: 8px;
}
@media screen and (max-width: 1000px) and (min-width: 700px){
    .headline-card{
        width: 100%;
        background: rgba(255, 255, 255, 0.72);
        position: absolute;
        bottom: 0px;
        padding:0px 16px;
    }
    .headline-title{
        font-size: 18px;
    }
    .edit{
        top: 8%;
    }
    #release-p{
        font-size: 5em;
        margin-bottom:10px; 
    }
}
@media screen and (max-width: 700px){
    .headline-card{
        width: 100%;
        background: rgba(255, 255, 255, 0.72);
        position: relative;
        bottom: 0px;
        padding: 10px 16px;
        margin-bottom: 10px;
    }
    .headline-content{
        width: 100%;
    }
    .headline-info{
        position: relative;
        padding: 5px;
        display: block;
        float: right;
    }
    .headline-img{
        margin: 0;
    }
    .headline-title{
        font-size: 18px;
        margin-top: 0;
    }
    .headline{
        display: none;
    }
}