.top-link{
    margin:0 ;
}
.logo-picture{
    height: 35px;
    padding-left: 3%;
}
.button-mainface{
    height: 33px;
    background-color: #2e2ec0; 
    color: aliceblue;
}
.user-frame{
    height: 280px;
}
div.background-picture{
    width: 100%;
    height: 100%;
    padding-top: 5%;
    border-radius: 10px;
}
.head-picture-frame{
    /*margin-top: 10%;*/
}
.head-picture{
    width: 100px;
    height: 100px;    
}
.user-name{
    font-weight: 700;
    color: azure;
    font-size: 20px;
}
.user-summary{
    font-size: 15px;
    color: antiquewhite;
}
.information-box{
    box-shadow: 2px 2px 2px #888888;
    padding: 0;
    border-radius: 10px;
}
.dynamic-box{
    box-shadow: 2px 2px 2px #888888;
    padding: 0;
    border-radius: 5px;
    border: 1px solid rgb(209, 208, 208);

}

.user-title{
    background-color: rgb(209, 208, 208);
    color: #6c5bce;
    font-size: 15px;
    font-weight: 600;
    height: 41px;
    border-radius: 5px;
    
}
.user-name1{
    height: 100%;
    font-size: 15px;
    padding:0 10%;
    padding-top:10%;
    word-wrap: break-word;
    border: 1px solid rgb(209, 208, 208);
}
.name-line{
    border-bottom-style: solid;
    border-bottom-color: #ccc8c8;
    border-bottom-width: 1px;
    margin-bottom: 0;
}
.user-done{
    background-color: rgb(255, 255, 255);
    border-right: 2px solid rgb(131, 131, 134);
    height: 420px;
}
.user-friend{
    background-color: rgb(255, 255, 255);
    height: 420px;
}
.button-change{
    padding: 0;
}
.dynamic-frame{
    margin: 10px;
    padding: 10px;
    border:1px solid rgb(206, 204, 207);
    border-radius: 5px;
}
.dynamic-title{
    font-size: 20px;
}
.touxiang{
    height: 60px;
    width: 60px;
}
.fengsi-head{
    margin: 5px;
    padding: 5px;
    border: 1px solid rgb(206, 204, 207);
    border-radius: 5px;
}
.picture-size{
    height: 50px;
    width: 50px;
}
