.information-box{
    box-shadow: 2px 2px 5px #dddddd;
    border: 1px solid #cccccc;
    border-radius: 2px;
    z-index: 999;
}
.box_color{
    background-color: #ffffff;
}

.top_box{    
    padding: 5% 0%;
    margin-top: 2%;
    text-align: center;
}

.head-picture{
    width: 100px;
    height: 100px;    
}
.user-name{
    /*font-weight: 700;*/
    color: azure;
    font-size: 20px;
}
.user-summary{
    font-size: 15px;
    color: antiquewhite;
}

.dynamic-box{
    box-shadow: 2px 2px 5px #dddddd;
    padding: 0;
    border-radius: 2px;
    border: 1px solid #cccccc;
    margin-bottom: 4%;

}
.user-box{
    margin-bottom: 4%
}
.user-single-title{    
    line-height: 30px;
}

.user-title{
    text-align: center;
    background-color: #e0e0e0;
    color: #337ab7;
    font-size: 16px;
    font-weight: bold;
    
}
.user-information{
    font-size: 14px;
    padding: 5% 10%;
    word-wrap: break-word;
}
.name-line{
    border-bottom-style: solid;
    border-bottom-color: #ccc8c8;
    border-bottom-width: 1px;
    margin-bottom: 0;
}
.user-done{
    background-color: rgb(255, 255, 255);
    border-right: 2px solid rgb(131, 131, 134);
    height: 420px;
}
.user-friend{
    background-color: rgb(255, 255, 255);
    height: 420px;
}
.button-change{
    padding: 0;/*
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;*/
}
.dynamic-frame{
    margin: 10px;
    padding: 10px;
    border:1px solid rgb(206, 204, 207);
    border-radius: 2px;
}
.dynamic-title{
    font-size: 20px;
}
.fengsi-head{
    margin: 2% 0%;
    padding: 2% 4%;
/*    border: 1px solid rgb(206, 204, 207);
    border-radius: 2px;*/
}

.item-box{
    padding: 2%;
}
