{% extends 'base.html' %}

{% block title %}首页{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block main %}
<div class="main">
    <ul>
        {% for news in news_ %}
            <li>
                <div class="avatar-group">
                    <img src="{{url_for('static',filename='images/logo.png')}}" class="avatar" alt="">
                </div>
                <div class="news-group">
                    <p class="news-title"><a href="{{url_for('newsPage',newsId=news.pid)}}">{{news.title}}</a></p>
                    <p class="news-content">{{news.article}}</p>
                    <div class="news-info">
                        <span class="news-author">{{news.author}}</span>
                        <span class="news-time">{{news.time}}</span>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}