{% extends 'base.html' %}

{% block title %}条目{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">  
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}"> 
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{{url_for('static',filename='js/masonry.pkgd.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/imagesloaded.pkgd.min.js')}}" ></script>
    <script>
        $('.masonry').imagesLoaded(function() {
            $('.masonry').masonry({
                itemSelector: '.item'
            });
        });
    </script>
{% endblock %}
{% block main %}
    <div class="headline">
        <div class="headline-img">
            <a href="{{url_for('newsPage',newsId=newss[0].pid)}}">
                <img src="{{url_for('static',filename='images/newsmain.jpg')}}" alt="">
            </a>
        </div>
        <div class="headline-card">
            <h1 class="headline-title"><a href="{{url_for('newsPage',newsId=newss[0].pid)}}" style="color: black;"><strong>{{newss[0].title}}</strong></a></h1>
            <p class="headline-content">{{newss[0].article}}</p>
            <div class="headline-info">
                <span><small>{{newss[0].author_user.username}}</small></span>
                <span><small>{{newss[0].time}}</small></span>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="mescroll" class="row masonry mescroll">
            {% for news in newss[1:] %}
                <div class="col-md-4 item">
                    <div class="card">
                        <div class="avatar-group">
                            <a href="{{url_for('newsPage',newsId=news.pid)}}">
                                <img src="{{url_for('static',filename='images/newsimg.jpg')}}" class="avatar" alt="">
                            </a>
                        </div>
                        <div class="news-group">
                            <p class="news-title"><a href="{{url_for('newsPage',newsId=news.pid)}}">{{news.title}}</a></p>
                            <p class="news-content">{{news.article}}</p>
                            <div class="news-info">
                                <span class="news-author">{{news.author_user.username}}</span>
                                <span class="news-time">{{news.time}}</span>
                            </div>
                        </div>
                    </div>
                </div>  
            {% endfor %}
        </div>
    </div>

    <!-- <div class="news-card">
    <img src="../img/标题1.jpg" class="img-responsive">
    <h4 class="news-card-title"><strong>青海全省连续9天用电零排放：刷新全清洁能源供电世界纪录</strong></h4>
    <p class="news-card-content">
        6月20日0时至28日24时，国家电网组织在青海全省连续9天216小时全部以水、风、 光等清洁能源供电，实现用电零排放，再次改写全清洁能源供电的世界纪录。
    </p>
    <div class="news-card-info">
        <span><small>中国智库</small></span>
        <span><small>26赞</small></span>
    </div>
    </div> -->
{% endblock %}
