<!-- 管理员 系统功能测试页面 -->

{% extends 'base.html' %}

{% block title %}首页{% endblock %}

{% block head %}{% endblock %}

{% block main %}
<div class="vacan"></div>
<div  style="text-align: center">
	<h1>欢迎来到大新闻 测试界面</h1>
	<a href="{{ url_for('login') }}">登录</a>
	<a href="{{ url_for('register') }}">注册</a>
	<a href="{{ url_for('newsPage',newsId=1)}}">新闻页面</a>
	<a href="{{ url_for('crawler')}}">爬虫</a>
	<a href="{{ url_for('release')}}">发新闻</a>
	<a href="{{ url_for('user')}}">个人信息页</a>
	<a href="{{ url_for('news_confirm')}}">管理员确认页</a>
	{% if username %}
		<p>欢迎{{ username }}</p>
		<a href="{{ url_for('logout')}}">一键登出</a>
	{% else %}
		<p>未登录</p>
	{% endif %}
</div>
{% endblock %} 