{% extends 'base.html' %}

{% block title %}首页{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{  url_for('static',filename='css/user_info.css') }}" type="text/css"/>
{% endblock %}

{% block script %}{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 information-box " style="padding: 0;">
             <div class="user-frame "> 
                <div class="background-picture" style="background: url({{url_for('static',filename='images/user_background/1.png')}});">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="head-picture-frame">
                            <center><img src="{{url_for('static',filename='images/users/user_default.png')}}" class="img-thumnnail head-picture img-circle"></center>
                        </div>
                        <div class="user-name">
                            <center>User1</center>
                        </div>
                        <div class="user-summary">
                            <center>他是一个好人,是个大好人</center>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
    <div class="row" style="margin-top: 3%">
        <div class="col-xs-12 col-sm-4 col-md-3 information-box">
            <div class="user-title" >
                <center>
                    个人资料
                </center>
            </div>
            <div class="user-information">
                <div class="user-name1">
                    <div class="name-line">
                        <p style="float: left;margin-bottom: 0;">昵称：</p><p style="margin-bottom: 0;margin-top: 10px;">User1</p>
                    </div>
                    <div class="name-line">
                        <p style="float: left;margin-bottom: 0;">简介：</p><P style="margin-bottom: 0;margin-top: 10px;">他是一个好人，一个特别好的人</P>
                    </div>
                    <div class="name-line">
                        <p style="float: left;margin-bottom: 0;">性别：</p><P style="margin-bottom: 0;margin-top: 10px;">男</P>
                    </div>
                    <div class="name-line">
                        <p style="float: left;margin-bottom: 0;">加入时间：</p><P style="margin-bottom: 0;margin-top: 10px;">2018.7.2</P>
                    </div>
                    <div class="name-line">
                        <p style="float: left;margin-bottom: 0;">用户等级：</p><P style="margin-bottom: 0;margin-top: 10px;">普通用户</P>
                    </div>
                    <div class="name-line">
                        <p style="float: left;margin-bottom: 0;">所在地：</p><P style="margin-bottom: 0;margin-top: 10px;">湖北 武汉</P>
                    </div>
                    <div class="name-line">
                        <p style="float: left;margin-bottom: 0;">生日：</p><P style="margin-bottom: 0;margin-top: 10px;">2018.1.1</P>
                    </div>
                    <div class="name-line">
                        <p style="float: left;margin-bottom: 0;">学历：</p><P style="margin-bottom: 0;margin-top: 10px;">本科</P>
                    </div>
                    <a href="#">编辑资料></a>
                </div>
            </div>
            <div class="dynamic-box"style="margin-top: 3%">
                <div class="user-title">
                    <ul class="nav nav-pills">
                        <li class="active col-md-5 button-change">
                            <a href="#关注" data-toggle="tab">关注</a>
                        </li>
                        <li class="col-md-5 button-change">
                            <a href="#粉丝" data-toggle="tab">粉丝</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="关注">
                        <div class="fengsi-head">
                            <div style="float: left;">
                            <img src="C:\Users\chunyu\Pictures\HTML\touxiang.png" class="img-thumnnail img-circle touxiang">
                            </div>
                            <div>
                                <a href="#" style="font-size: 20px;">User2</a>
                            </div>
                            <div>
                                <p style="color: rgb(179, 182, 181)">生命在于运动</p>
                            </div>
                        </div>
                        <div class="fengsi-head">
                            <div style="float: left;">
                                <img src="C:\Users\chunyu\Pictures\HTML\touxiang.png" class="img-thumnnail img-circle touxiang">
                            </div>
                            <div>
                                <a href="#" style="font-size: 20px;">User2</a>
                            </div>
                            <div>
                                <p style="color: rgb(179, 182, 181)">生命在于运动</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="粉丝">
                        <div class="fengsi-head">
                            <div style="float: left;">
                                <img src="C:\Users\chunyu\Pictures\HTML\touxiang.png" class="img-thumnnail img-circle touxiang">
                            </div>
                            <div>
                                <a href="#" style="font-size: 20px;">User2</a>
                            </div>
                            <div>
                                <p style="color: rgb(179, 182, 181)">生命在于运动</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>     
        <div class="col-xs-12 col-sm-8 col-md-9 dynamic-box">
            <div class="user-title">
                <ul class="nav nav-pills ">
                    <li class="active col-md-3 button-change">
                        <a href="#动态" data-toggle="tab">动态</a>
                    </li>
                    <li class="col-md-3 button-change"><a href="#喜欢" data-toggle="tab">喜欢</a></li>
                    <li class="dropdown col-md-3 button-change">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">文章<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                            <li><a href="#发布" tabindex="-1" data-toggle="tab">发布成功</a></li>
                            <li><a href="#待审核" tabindex="-1" data-toggle="tab">待审核</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="动态">
                    <div class="dynamic-frame">
                        <div style="float: left">
                            <img src="C:\Users\chunyu\Pictures\HTML\touxiang.png" class="img-thumnnail img-circle picture-size">
                        </div>
                        <div style="float: left">
                            <a href="#">User2</a>
                        </div>
                        <div style="float: left">
                            <p>评论了你的文章</p>
                        </div>
                        <div style="float: left;padding-right: 40px;">
                            <a href="#">谈“桃花源”</a>
                        </div>
                        <div >
                            <p>2018.7.2 16:56</p>
                        </div>
                        <div>
                            <p>评论：这真的是一篇好文章</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="喜欢">
                    <div class="dynamic-frame">
                        <div class="dynamic-title">
                            <a href="#">谈“桃花源”</a>
                        </div>
                        <div style="word-wrap: break-word">
                            <p>
                                菜鸟教程是一个提供最新的web技术站点，本站免费提供了建站相关的技术文档
                            </p>
                        </div>
                        <div>
                            <p style="color: rgb(179, 182, 181);float: left;padding-right: 20px;">>您点赞了这篇文章</p>
                            <p style="color: rgb(179, 182, 181);">2018.7.2  16:24</p>
                        </div>
                    </div>
                    <div class="dynamic-frame">
                        <div class="dynamic-title">
                            <a href="#">谈“桃花源”</a>
                        </div>
                        <div style="word-wrap: break-word">
                            <p>
                                菜鸟教程是一个提供最新的web技术站点，本站免费提供了建站相关的技术文档
                            </p>
                        </div>
                        <div>
                            <p style="color: rgb(179, 182, 181);float: left;padding-right: 20px;">>您点赞了这篇文章</p>
                            <p style="color: rgb(179, 182, 181);">2018.7.2  16:24</p>
                        </div>
                    </div>
                    <div class="dynamic-frame">
                        <div class="dynamic-title">
                            <a href="#">谈“桃花源”</a>
                        </div>
                        <div style="word-wrap: break-word">
                            <p>
                                菜鸟教程是一个提供最新的web技术站点，本站免费提供了建站相关的技术文档
                            </p>
                        </div>
                        <div>
                            <p style="color: rgb(179, 182, 181);float: left;padding-right: 20px;">>您点赞了这篇文章</p>
                            <p style="color: rgb(179, 182, 181);">2018.7.2  16:24</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="发布">
                    <div class="dynamic-frame">
                        <div class="dynamic-title">
                            <a href="#">谈“桃花源”</a>
                        </div>
                        <div style="word-wrap: break-word">
                            <p>
                                菜鸟教程是一个提供最新的web技术站点，本站免费提供了建站相关的技术文档
                            </p>
                        </div>
                        <div>
                            <p style="color: rgb(179, 182, 181)">2018.7.3  18:23</p>
                        </div>
                    </div>
                    <div class="dynamic-frame">
                        <div class="dynamic-title">
                            <a href="#">谈“桃花源”</a>
                        </div>
                        <div style="word-wrap: break-word">
                            <p>
                                菜鸟教程是一个提供最新的web技术站点，本站免费提供了建站相关的技术文档
                            </p>
                        </div>
                        <div>
                            <p style="color: rgb(179, 182, 181)">2018.7.3  18:23</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="待审核">
                    <div class="dynamic-frame">
                        <div class="dynamic-title">
                            <a href="#">谈“桃花源”</a>
                        </div>
                        <div style="word-wrap: break-word">
                            <p>
                                菜鸟教程是一个提供最新的web技术站点，本站免费提供了建站相关的技术文档
                            </p>
                        </div>
                        <div>
                            <p style="color: rgb(179, 182, 181)">2018.7.3  18:23</p>
                        </div>
                    </div>
                    <div class="dynamic-frame">
                        <div class="dynamic-title">
                            <a href="#">谈“桃花源”</a>
                        </div>
                        <div style="word-wrap: break-word">
                            <p>
                                菜鸟教程是一个提供最新的web技术站点，本站免费提供了建站相关的技术文档
                            </p>
                        </div>
                        <div>
                            <p style="color: rgb(179, 182, 181)">2018.7.3  18:23</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>

{% endblock %}