{% extends 'base.html' %}

{% block title %}登录{% endblock %}

{% block head %}
<link href="{{ url_for('static',filename='css/login_sign.css')}}" rel="stylesheet">
{% endblock %}

{% block main %}   
    <div class="container-fluid" id="parent"  >
        <div id="blur"></div>
        <div id="clear"></div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 log-container">
                <form  action="{{ url_for('login') }}" method="post">
                    <h2 class="title">登  录</h2>

                    <input id="email_input" type="text" class="form-control" placeholder="用户名/邮箱" name="username">
                    <div class="input-group" style="margin-top:20px;">
                        <input id="with-button" type="password" class="form-control" placeholder="密码"  name="password">
                        <span class="input-group-addon">
                            <button id="addon-btn" class="btn" type="button">
                                <span id="addon-pic" class="glyphicon glyphicon-eye-close" alt="显示密码">
                            </button>
                        </span>
                    </div>
                    <button class="btn btn-link" style="text-align:right;margin-top: 5px;" type="button">忘记密码?</button>
                    <div class="flash-message" style="margin: 0 auto;position: relative;bottom:-25px;z-index: 100;">
                        {% with messages=get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-danger" role="alert" style="margin: 0 auto;text-align: center;"><p style="text-align: center;">{{message}}</p></div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <button id="login_btn" class="btn btn-default btn-block" type="submit">登 录</button>
                </form>
            </div>
        </div>
    </div>
    
    <script>
        function showPassword() {
            var password_pic = document.getElementById("addon-pic");
            password_pic.className = "glyphicon glyphicon-eye-open";
            document.getElementById("with-button").type = "text";
        }

        function hidePassword() {
            var password_pic = document.getElementById("addon-pic");
            password_pic.className = "glyphicon glyphicon-eye-close";
            document.getElementById("with-button").type = "password";
        }
        var password_btn = document.getElementById("addon-btn");
        password_btn.onmousedown = showPassword;
        password_btn.onmouseup = hidePassword;

        //鼠标离开窗口时效果消失
        function mouseOut() {
            document.getElementById("clear").style.top = -200 + "px";
            document.getElementById("clear").style.left = -200 + "px";

        }
        // 实现模糊
        function mouseMove(ev) {
            ev = ev || window.event;
            var mousePos = mouseCoords(ev);
            // setTimeout(function(){document.getElementById("clear").style.top = mousePos.y - 900 + "px";},100)
            // setTimeout(function(){document.getElementById("clear").style.left = mousePos.x - 900 + "px";},100)

            document.getElementById("clear").style.top = mousePos.y - 500 + "px";
            document.getElementById("clear").style.left = mousePos.x - 500 + "px";

        }

        function mouseCoords(ev) {
            if (ev.pageX || ev.pageY) {
                return {
                    x: ev.pageX,
                    y: ev.pageY
                };
            }
            return {
                x: ev.clientX + document.body.scrollLeft - document.body.clientLeft,
                y: ev.clientY + document.body.scrollTop - document.body.clientTop
            };
        }
        document.onmousemove = mouseMove;
        document.onmouseout = mouseOut;

    </script>



{% endblock %}