{% extends 'base.html' %}

{% block title %}注册{% endblock %}

{% block head %}{% endblock %}

{% block main %}
	<form action="{{ url_for('register') }}" method="post">
		<table>
			<tbody>
				<tr>
					<td>用户名：</td>
					<td><input type="text" name="username" placeholder="请输入用户名"></td>
				</tr>
				<tr>
					<td>密码：</td>
					<td><input type="password" name="password1"></td>
				</tr>
				<tr>
					<td>确认密码：</td>
					<td><input type="password" name="password2"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="注册"></td>
				</tr>
			</tbody>
		</table>
	</form>
{% endblock %}